<filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.jboss.resteasy.plugins.server.servlet.CorsFilter</filter-class>
    <init-param>
        <param-name>cors.allowOrigin</param-name>
        <param-value>*</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
